@import '../variables/index';


.maui-breadcrumb {
  display: flex;

  .maui-breadcrumb__item {
    display: flex;
    align-items: center;
    color: $g-500;

    > .breadcrumb-item__ {
      &content {
        display: flex;
        align-items: center;
      }

      &separator {
        margin: 0 .5rem;
        color: $g-400;
      }
    }

    &:last-child {
      color: $g-700;

      > .breadcrumb-item__separator {
        display: none;
      }
    }
  }
}
