@use 'sass:map';

@import '../variables/index';


.maui-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box;

  .maui-column {
    flex: 0 0 auto;
    box-sizing: border-box;

    &-- {
      @for $i from 1 through 24 {
        &#{$i} {
          flex-basis: $column-base-width * $i;
          max-width: $column-base-width * $i;
        }

        &offset-#{$i} {
          margin-left: $column-base-width * $i;
        }
      }
    }
  }

  &-- {
    &reverse {
      flex-direction: row-reverse;
    }

    @for $i from 1 through 20 {
      &gutter-#{$i} {
        margin-left: $i * ($grid-power-size * -1rem);
        margin-right: $i * ($grid-power-size * -1rem);

        .maui-column {
          padding-left: $i * ($grid-power-size * 1rem);
          padding-right: $i * ($grid-power-size * 1rem);
        }
      }
    }
  }
}

@each $device, $size in $screen-sizes {
  @media screen and (min-width: $size) {
    .maui-grid {
      .maui-column {
        &-- {
          @for $i from 1 through 24 {
            &#{$device}-#{$i} {
              flex-basis: $column-base-width * $i;
              max-width: $column-base-width * $i;
            }

            &#{$device}-offset-#{$i} {
              margin-left: $column-base-width * $i;
            }
          }
        }
      }
    }
  }
}
