@import '../variables/index';


.maui-group {
  display: inline-flex;

  &-- {
    &horizontal {
      > * {
        margin-right: -1px;

        &:first-child {
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }

        &:last-child {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
          margin-right: 0;
        }

        &:not(:first-child):not(:last-child) {
          border-radius: 0; 
        }
      }
    }

    &vertical {
      flex-direction: column;

      > * {
        margin-bottom: -1px;

        &:first-child {
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
        }

        &:last-child {
          border-top-left-radius: 0;
          border-top-right-radius: 0;
          margin-bottom: 0;
        }

        &:not(:first-child):not(:last-child) {
          border-radius: 0; 
        }
      }
    }
  }
}
