@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @-o-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

@mixin animation($content) {
  -webkit-animation: #{$content};
  -moz-animation: #{$content};
  -ms-animation: #{$content};
  -o-animation: #{$content};
  animation: #{$content};      
}
