@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @-o-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

@mixin animation($content) {
  -webkit-animation: #{$content};
  -moz-animation: #{$content};
  -ms-animation: #{$content};
  -o-animation: #{$content};
  animation: #{$content};      
}

@mixin vue-animation($class-name, $keyframe-name) {
  .#{$class-name}-enter-active {
    animation: #{$keyframe-name}In .3s ease-in-out both;
  }
  .#{$class-name}-leave-active {
    animation: #{$keyframe-name}Out .3s ease-in-out both;
  }
}
