@import '../../styles/variables/index';

.maui-badge {
  display: inline-flex;
  position: relative;

  &.maui-badge-- {
    &only-badge {
      .maui-badge__value {
        position: relative;
        transform: none;
        top: 0;
      }

      &.maui-badge--dot {
        width: 10px;
        height: 10px;

        &::after {
          top: 0;
          right: 0;
        }
      }
    }

    &dot {
      &::after {
        position: absolute;
        top: -5px;
        right: -5px;
        border-radius: 100%;
        z-index: 3;
        background-color: transparent;
        width: 10px;
        height: 10px;
        content: '';
      }
    }

    & {
      &default {
        &::after {
          background-color: $lighten-gray-color;
        }
      }
    }
  }

  .maui-badge__value {
    position: absolute;
    right: 0;
    transform: translate(50%, 0);
    z-index: 3;

    .maui-tag {
      padding: 0.2rem 0.4rem 0.25rem;

      .maui-tag__content {
        font-size: nth($p-sizes, 1);
      }
    }
  }
}
